%h1 Boards

%table.table.table-dark
  %thead
    %tr
      %th Belongs To
      %th Title
      %th Lists
      %th Cards
      %th
      %th
      %th

  %tbody
    - @boards.each do |board|
      %tr
        %td= User.find(board.user_id).name
        %td= board.title
        %td= List.where(board_id: board.id).count
        %td= Card.where(list_id: List.where(board_id: board.id).pluck(:id)).count
        %td= link_to 'Show', board
        %td= link_to 'Edit', edit_board_path(board)
        %td= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }
