<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html{}
      body {

      }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>Gemba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height:100%; background-color: rgba(0,0,0,.05);">
    <%= render "shared/top_nav" %>
    <div class="" style=" height:100%; padding-left:16px; padding-right:16px; background-color:transparent;">
    <%= yield %>
  </div>
  </body>
</html>
